page-grouplist {
  ion-icon.big-size {
    font-size: 5rem;
    //color: CadetBlue;
  }
  .h2 {
    color: map-get($colors, secondary);
    font-size: 2.00rem;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    //width: 30%;
    //height: 10%;
  }

}
