page-redefineuserpwd {
  ion-card {
      position: relative;
      text-align: center;
    }

    .card-title {
      position: absolute;
      top: 6%;//36%
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 22%; //52%
      width: 100%;
      color: #fff;
    }

    .title-image {
      margin-top: 8px;
      height: 27px;
    }
}
